.modal-container {
  left: 0;
  width: 60%;
  height: 80%;
  display: flex;
  background: rgb(255 255 255);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    background-color: #fef9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 77%;
    width: 60%;
  }
  
  .modal-title {
    margin-top: 5px;
    font-size: 24px;
    text-align: center;
  }
  
  .modal-form label {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  
  .modal-form input,
  
  .modal-form textarea {
    width: calc(92% - 10px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 10px;
  }
  
  .modal-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .modal-buttons button[type="submit"] {
    background-color: #269c95;
    color: white;
  }
  
  .modal-buttons button[type="button"] {
    background-color: #6c757d;
    color: white;
  }
  


  
.modal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  padding: 0;
  justify-content: center;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  input:focus {
    border-color: #0177a9;
    outline: none;
    box-shadow: 0 0 5px #037171;
  }
  .crear-pac{
    
  
    display: flex;
    background-color: #269c95;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    gap: 2px;
    justify-content: space-around;
    align-items: center;
    
  }
.btn-pacientes{
  background: none;
    color: white;
    cursor: pointer;
}

.botones-table{
  height: 6%;
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  margin-right: 2%;
}

table{
  width: 100%;
}
.select{
  height: 50%;
  width: calc(92% - 10px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

tr{
  height: 50px;
}

.td-bold{
  font-weight: bold;
}

.plus-icon{
  height: 25px;
}
.pagination button.active{

  background: #269c95;
      border-radius: 5px;
      color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
    background:none; 
    color: #000;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
  }

.ver-paciente{
  cursor: pointer;
}

Link{
  cursor: pointer;
}
th{

  text-align: start;
}

.button-ver-p{
  width: 75%;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  gap: 5%;
  display: flex;
  margin-right: 10px;
  background-color: #8EDAD5;
  padding: 1px;
  border: 1px solid #8EDAD5;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: row;
}

.logo-paciente{
  height: 24px;
}

.color-prof{
  width: '20px';
  height: '20px';
  
  border: '1px solid #ccc';
  border-radius: '50%';
  display: 'inline-block';
}